body {
   font-family: 'dialog';
}

.header-page {
   background-color: #87509c;
   padding: 55px 0 148px 0;
   position: relative;

   li {
      border-radius: 5px;
      &:hover {
         background: #643a79;
        cursor: pointer;
        border-radius: 5px;
     
      }
   }
   &_nav {
      margin-left: auto;

      &-item {
         font-family: 'dialog';
         font-weight: 300;
         text-transform: uppercase;
         color: #fff;
         font-size: 16px;
         padding: 10px 15px;
         border-radius: 5px;
         &:hover {
            background: #643a79;
           cursor: pointer;
         }
      }

      &-item + &-item {
         margin-left: 15px;
      }
   }

   &_h1 {
      margin-top: 145px;
      color: #fff;
      font-weight: 700;
      font-size: 42px;
      text-align: center;
   }

   &_btn {
      & a {
         color: #fff;
      }
      color: #fff !important;
      width: fit-content;
      padding: 25px 80px;
      display: block;
      margin: 60px auto 0;
      background: #eb7d4b;
      border-radius: 5px;
      font-size: 18px;
      font-weight: 700;
      border-bottom: 4px solid #c86a40;
      transition: all 0.3s ease-in;

      &:hover {
      transform: scale(1.1);
      box-shadow: 0 10px 20px rgba($color: #000000, $alpha: 0.6);
      }
   }
}

.services-page {
   padding-top: 120px;
   padding-bottom: 130px;
   background-color: #17c2a4;
   color: #fff;

   

   &_items {
      justify-content: space-between;
      margin-top: 80px;
   }

   &_item {

      & img {
         margin: 0 auto;
      }
      width: 200px;
      display: flex;
      flex-direction: column;

      &-name {
         text-align: center;
         font-size: 24px;
         font-weight: 700;
         margin-top: 60px;
      }

      &-text {
         margin-top: 25px;
         text-align: center;
         font-size: 16px;
         line-height: 25px;
      }
   }
}

.page_h2 {
   text-align: center;
   font-size: 40px;
   font-weight: 700;
   color: inherit;
}

.page_line {
   width: 85px;
   border-bottom: 4px solid rgba($color: #000000, $alpha: 0.3);
   margin: 20px auto;
   color: inherit;
}

.page_p {
   text-align: center;
   font-size: 18px;
   width: 590px;
   margin: 0 auto;
   color: inherit;
}

.team-page {
   background: #e7f1f8;
   padding: 125px 0;
   color: #3c4761;
   
   &_items {
      margin-top: 105px;
      justify-content: space-between;
      align-items: flex-start;
      height: 100%;
   }

   &_item{
      align-items: flex-start;
      width: 200px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;

      &-name {
         text-transform: uppercase;
         font-weight: 700;
         display: inline-block;
         color: #27283d;
         font-size: 24px;
         margin: 40px auto 10px;

         &-blue {
            color: #30bae7;
            font-size: 16px;
            text-align: center;
            margin: 0 auto 30px;
         }
      }

      &-text {
         display: block;
         width: 200px;
         text-align: center;
         color: #3c4761;
         font-size: 16px;
         line-height: 25px;
      }

      &-img {
         height: 200px;
         width: 200px;
         border-radius: 50%;
         background-color: #878787;
      }

      &-hrefs {
         margin-top: 30px;
         display: flex;
         justify-content: center;
         width: 100%;
      }

      &-href {
         color: #fff;
        line-height: 30px;
        padding: auto;
        text-align: center;
         display: inline-block;
         height: 30px;
         width: 30px;
         border-radius: 50%;
         background-color: #bdd1df;

         & + & {
            margin-left: 15px;
         }
      }

   }

   
}

.procent-page {
   margin: 115px 0 125px;
   color: #3c4761;
}

.graphics-block {
   justify-content: space-between;
   margin-top: 85px;
   &_item {
      flex-direction: column;   
      justify-content: start;

      &-text {
         display: inline-block;
         margin: 30px auto 0;
         align-items: center;
         font-size: 24px;
         text-transform: uppercase;
         font-weight: 700;
      }
   }
}

.our-portfolio {
   background: #ffdd99;
   padding: 120px 0;
}

.btn-block {
   color: #fff;
   margin: 0 auto;
   display: flex;
   justify-content: center;
}

.green-btn {
   font-weight: 700;
   margin: 80px auto 0;
   border-radius: 5px;
   background: #17c2a4;
   padding: 25px 85px;
   color: #fff;
   font-size: 18px;
   text-transform: uppercase;
   border-bottom: 4px solid #14a58c;
   transition: all 0.3s ease-in;
   &:hover {
      transform: scale(1.1);
      box-shadow: 0 10px 20px rgba($color: #000000, $alpha: 0.6);
   }
}

.ui-tabs-nav {
   display: flex;
   justify-content: center;
   margin-top: 40px;
   color: #393939;
}

.ui-tabs-tab {
  
   & + & {
      margin-left: 10px;
   }
} 
.tab {
   &-btn {
      border-radius: 5px;
   background: #ebc985;
   padding: 10px 30px;
   color: #393939;
   font-size: 18px;
   text-transform: uppercase;

   &:hover {
      background: #fff;
   }
   }
}

.tabs-1-item + .tabs-1-item{
  margin-left: 10px;
}

.tabs-1-item {
   margin-top: 65px;
   display: flex;
   flex-direction: column;
   justify-content: center;
}

.tabs-item-text {
   font-size: 18px;
   color: #393939;
   text-transform: uppercase;
   text-align: center;
   margin-top: 20px;
}

.tabs-1-items {
   
   flex-wrap: wrap;
   width: 1200px;
}

.about-us {
   padding-top: 120px;
   color: #fff;
   background: #d74680;

   &_items {
      margin-top: 70px;
      flex-wrap: wrap;
      justify-content: space-between;
   }

   &_item {
      margin-bottom: 140px;
   }


   &_text {
      padding-top: 10px;
      padding-bottom: 30px;
      font-size: 21px;
      font-style: italic;
   }

   &_name {
      display: block;
      font-size: 24px;
      text-transform: uppercase;
      font-weight: 700;
   }

   &__organisation {
      margin-top: 10px;
      color: #ffdd99;
      font-size: 18px;
   }

   &_block-text {
      width: 330px;
      display: inline-block;
   }
}

.circle-gray {
   margin-right: 50px;
   display: inline-block;
   height: 100px;
   width: 100px;
   background: #787878;
   border-radius: 50%;
}

.footer {
   padding: 120px 0;
   background: #3c5499;
   color: #fff;

   .form {
      flex-direction: column;
      display: flex;
      margin: 80px 0 60px;
      color: #fff;
   }


   &-textarea {
      text-transform: capitalize;
      font-size: 18px;
      color: #fff;
      margin: 0 auto;
      width: 860px;
      min-height: 200px;
      background: #273a71;
      border-radius: 5px;
      padding: 25px 25px;
      resize: none;
   }

   &-name {
    
     
   }

   &-email {
     width: 100%;
      font-size: 18px;
      color: #fff;
      background-color: inherit;
      text-overflow: ellipsis;
   }

   .up-form {
      margin-bottom: 28px;
      justify-content: center;
   }

   .email-input {
      font-size: 18px;
      position: relative;
   }

   .email {

      display: block;
      position: absolute;
      left: 55px;
      top: 25px;
   }

  

   .label-text {
      display: block;
   }


   .email-input + .email-input {
      margin-left: 30px;
   }

    .email-input {
      
      text-transform: capitalize;
      color: #fff;
      font-size: 18px;
      padding: 25px 25px;
      width: 45%;
      width: 415px;
      height: 60px;
      background: #273a71;
      border-radius: 5px;
     
   }

   .email-input:focus-within .label-text,
   .email-input:focus-within .red-star,
   .textarea:focus-within .red-star,
   .textarea:focus-within .label-text {
      display: none;
   }


   .label-text {
      display: inline-block;
   }

   .red-star {
      font-size: 18px;
      color: #ea434b;
      display: inline-block;
   }

   .textarea {
      font-size: 18px;
      position: relative;
      margin: 0 auto;
   }

   .btn {
      margin: 0 auto;
   }

   .blue-btn {
      font-weight: 700;
      margin: 60px auto 0;
      border-radius: 5px;
      background: #30bae7;
      padding: 25px 85px;
      color: #fff;
      font-size: 18px;
      text-transform: uppercase;
      border-bottom: 4px solid #299ec5;
      transition: all 0.3s ease-in;

      &:hover {
         transform: scale(1.1);
         box-shadow: 0 10px 20px rgba($color: #000000, $alpha: 0.6);
      }
   }

   
}

.footer-foot {
  padding-top: 45px;
  padding-bottom: 45px;
   background: #344b8e;
}

.footer-foot_anchors {
   justify-content: space-between;
  color: #fff;
  font-size: 24px;
  width: 995px;
  margin: 0 auto;
}

.footer-foot_anchor + .footer-foot_anchor {
   margin-left: 60px;
}

.footer-foot_anchor:hover {
   color: #319bcc;
}

.procents {
   width: 90%;
}

@media ( max-width:1060px) {
   .container {
      width: 90%;
   }

   .footer-textarea {
      width: 100%;
  }
}

@media (max-width:1240px) {
   .tabs-1-items {
      display: block;
      flex-wrap: wrap;
      width: 100%;
      
      height: 100%;
   }

   .tabs-1-item img {
      margin: 0 auto;
      height: 70%;
      width: 70%;
   }

   .footer-foot_anchors {
      width: 90%;
   }

    .footer .textarea {
       margin: 0 auto;
    } 

   .footer-textarea {
      width: 860px;
  }
  .our-portfolio {
     height: fit-content;
  }
  
   
}

@media (max-width:960px) {

   .footer .textarea {
      margin: 0;
   } 

   .footer-textarea {
      width: 100%;
  }
}


@media ( max-width:901px) {




   .footer-foot_anchor + .footer-foot_anchor {
      margin-left: auto;
  }

   .team-page_item-href + .team-page_item-href {
      margin-left: 2px;
  }

   .services-page_item {
      width: 20%;
   }

   .team-page_item {
      width: 19%;
   }

   .team-page_item-text {
      width: 100%;
   }

   .team-page_item-img {
      width: 120px;
      height: 120px;
   }

   .tabs-1-items {
      display: block;
      flex-wrap: wrap;
      width: 100%;
      
      height: 100%;
   }

   .tabs-1-item img {
      height: 100%;
      width: 100%;
   }


   .about-us {
      padding-bottom: 60px;
   }

   .about-us_item {
      margin-bottom: 40px;
   }

   // .footer-textarea {
      
   //    min-width: 810px;
      
   // }

   .footer-foot_anchors {
         width: 90%;
      margin: 0 5%;
      width: none;
   }

   // .textarea {
   //    margin: 0;
   // }

//    .footer-textarea {
//       min-width: 100%;
//   }

  
}

@media (max-width: 768px) {


   

   .page_p {
      width: auto;
   }

   .graphics-block_item {
      width: 20%;
      align-items: center;
   }

   .graphics-block_item img {
      width: -webkit-fill-available;
   }

   // .footer-textarea {
   //    min-width: 675px;
   // }

   .footer-foot_anchor + .footer-foot_anchor {
      margin-left: auto;
  }

  .team-page_item-href + .team-page_item-href {
   margin-left: 3px;
}
}

@media (max-width:650px) {

   .services-page_item img {
      height: 150px;
   }

   .page_h2 {
      font-size: 25px;
   }
   .services-page_item-name {
      font-size: 16px;
  }

  .about-us_text {
     width: 75%;
  }

  .team-page_item-name {
     font-size: 18px;
  }
}

@media (max-width:480px) {

   .header-page {
      padding-bottom: 60px;
   }

   .header-page_h1 {
   margin: 70px 30px;
   font-size: 27px;}

   .services-page {
      padding: 50px 0;
   }

   .services-page_items {
      flex-direction: column;
   }

   .services-page_item {
      margin: 0 auto 40px;
      width: 80%;
   }

   .page_p {
      width: 80%;
   }
   
   .team-page_items {
      flex-direction: column;
      margin: 0;
   }

   .team-page_item {
      width: 100%;
      margin: 0 auto;
   }

   .team-page_item-img {
      margin: 0 auto;
   }

   .team-page_item {
      margin: 60px 0 0;
   }

   .team-page_item-name {
      
      margin: 10px auto 10px;
  }

  .team-page_item-name-blue {
   
   margin: 0 auto 10px;
}

.about-us_block-text {
   width: 260px;
}

// .footer-textarea {
//    min-width: 430px;
// }

.footer-foot_anchor {
   font-size: 17px;
}

.footer-foot_anchor + .footer-foot_anchor {
   margin-left: 22px;
}

// .textarea {
//    margin: 0 auto;
//    padding: 0;
// }

// .footer-textarea {
//    min-width: 100%;
//    margin: 0 auto;
// }

.footer {
   padding: 40px 0 1px;
  
}

}

@media (max-width: 320px) {
   .header-page_btn {
      font-size: 17px;
  }

  .header-page_btn {
   padding: 25px 45px;
  }

  .header-page {
   padding: 40px 0 30px 0;
}

.services-page {
   padding: 40px 0 0;
}

.team-page {
   padding: 47px 0;
}

.graphics-block_item-text {
   font-size: 19px;
   font-weight: 300;
}

.procent-page {
   margin: 50px 0;
}

.our-portfolio {
   /* background: #ffdd99; */
   padding: 50px 0;
}

.tab-btn {

   padding: 10px 15px;
  
}

.about-us {
   padding-top: 50px;
   padding-bottom: 30px;
}

.team-page_item-href + .team-page_item-href {
   margin-left: 30px;
}

.team-page_item-href {
   color: #fff;
   line-height: 40px;
   padding: auto;
   text-align: center;
   display: inline-block;
   height: 40px;
   width: 40px;
   border-radius: 50%;
   background-color: #bdd1df;
}

.about-us_item {
   margin: 0 auto 40px;
   display: flex;
   flex-direction: column;
}

.about-us_block-text {
   text-align: center;
}

.circle-gray {
   margin: 0 auto;
}

// .textarea {
//    margin: 0;
// }

// .footer-textarea {
//    min-width: 100%;
// }

.footer {
   padding: 40px 0 1px;
  
}
}

.nav-container {
   width: 90%;
   max-width: 1000px;
   margin: 0 0 0 auto;
   background: inherit;
}

.nav-bar {
   height: fit-content;
   width: 100%;
   background: inherit;
}

.nav-container {
   overflow: hidden;
}

.nav-list {
   float: right;
 list-style:none;
 padding: 10px 0;
}

.nav-list li {
   float: left;
}

.nav-list li a {
   display: block;
   color: #f9f9f9;
   padding: 20px 10px;
   font-size: 1em;
}

.nav-list li a:hover {
   color: #f9f9f9;
   background: inherit;
  
}

.nav-menu {
 display: none;
}

.cuda-img {
   height: fit-content;
}

@media screen and (max-width: 500px) {

  

   .nav-menu{
      position: absolute;
      left: -125px;
       color: #fff;
       float: left;
       display: block;
       padding: 20px 10px;
       cursor: pointer;
   }
   
  
   .nav-list{
     
      right: 257px;
      top: 13px;
   float: right; 
   width: 47%;
   overflow: hidden;
   height: 0;
   border-radius: 10px;
   }
   
   .nav-open
   { height: auto; }
   
   .nav-list li {
       width: 100%;
   }

   .nav-open {
      background: #79428e;
      position: absolute;
      left: -260px;
      top: 46px;
   }
   .nav-bar {
      font-family: 'dialog';
      position: relative;
      right: -140px;
      /* left: -254px; */
      top: -6px;
   }
     
   }