
@font-face {
   font-family: 'dialog';
   src: url('../../font/dialogbold-webfont.woff2') format('woff2'),
        url('../../font/dialogbold-webfont.woff') format('woff');
   font-weight: 700;
   font-style: normal;

}




@font-face {
   font-family: 'dialog';
   src: url('../../font/dialogitalic-webfont.woff2') format('woff2'),
        url('../../font/dialogitalic-webfont.woff') format('woff');
   font-weight: 300;
   font-style: italic;

}




@font-face {
   font-family: 'dialog';
   src: url('../../font/dialogcond-webfont.woff2') format('woff2'),
        url('../../font/dialogcond-webfont.woff') format('woff');
   font-weight: 300;
   font-style: normal;

}

@import 'comon';
@import 'pages';
@import 'null';